body {
  background-color: rgb(19, 19, 143);
  font-size: 20px;
  font-family: sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
}

.main {
  color: #fff;
  background-color: rgb(19, 19, 143);
  line-height: 30px;
  font-size: 29px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.name1 {
  display: flex;
  justify-content: space-between;
  margin-top: -40px !important;
}

.name1-img {
  margin: 40px;
}

.joe {
  color: #fff;
  margin: 40px;
}

.vector {
  height: 0.5px;
  width: 40px;
  color: white;
  background-color: white;
  display: block;
  padding-top: 1px;
  margin-top: 5px;
}

.name2 {
  display: flex;
}

.laura2 {
  color: #2b29c2;
  margin-top: 50px;
}

.laura-name {
  font-size: 47px;
}

.job {
  color: white;
  font-size: 23px;
  font-family: sans-serif, Arial, Helvetica;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 45px !important;
}

.description {
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 50px;
  margin-top: 20px;
  border-bottom: 2px solid rgb(23, 23, 24);
}

.technologies {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-gap: 1em 1em;
  margin-left: 50px;
  margin-bottom: 50px;
  border-bottom: 2px solid rgb(23, 23, 24);
}

.technologies h5 {
  margin-left: 40px;
  color: #2b29c2;
  font-size: 20px;
}

.technologies li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.languages li {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.ellipse19 img {
  height: 300px;
  width: 82px;
  display: flex;
  justify-content: flex-end;
}

a,
a:hover {
  text-decoration: none;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
  margin: 0;
  padding: 5px;
  display: flex;
}

.socialbtns {
  list-style: none outside none;
  display: flex;
  justify-content: center;
}

.socialbtns .fa {
  width: 40px;
  height: 28px;
  color: #fff0ff;
  background-color: transparent;
}

.fa:hover {
  color: #000;
}

.multi {
  margin-left: 10%;
}

.work {
  text-align: center;
  color: #5a58e4;
}

.work-head {
  color: #5a58e4;
  border-bottom: 2px solid rgb(23, 23, 24);
}

.image-placeholder {
  background-color: #eee;
  display: flex;
  height: 350px;
  margin: 5px;
  width: 98%;
  margin-top: 50px;
}

.post-stories > p > img {
  height: 35px;
  margin-left: -5px;
  margin-right: 15px;
  position: absolute;
}

.post-stories > h1 {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.button {
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  background-color: #7e7dc5;
}

.button-1 {
  background-color: #7e7dc5;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 12px 25px;
}

.button-1:hover {
  border: 1px solid #00d7c3;
  text-decoration: underline #00d7c3;
}

.textarea {
  height: 250px;
  width: 100%;
  margin-bottom: 50px;
}

.contact-form > input {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  color: #5a58e4;
}

.contact-form > input:hover {
  text-decoration: underline #00d7c3;
}

.emailhere {
  text-align: center;
  margin-bottom: 30px;
}

.emailhere:hover {
  text-decoration: underline #00d7c3;
}

.btm-rectangle {
  margin-top: 50px;
}
