html {
  background-color: rgb(19, 19, 143);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px 10%;
  font-size: medium;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 50px;
}

.socialbtns a {
  text-decoration: none;
}

.header .logo > a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.header .logo > a:hover {
  text-decoration: underline #fff0ff;
}

.vector {
  height: 0.5px;
  width: 40px;
  color: white;
  background-color: white;
  display: block;
  padding-top: 1px;
  margin-top: 5px;
}

.presentation {
  display: flex;
  flex-direction: column;
}

.presentation1 .my-name {
  text-align: center;
  color: #5d5be4;
  font-size: 17px;
  font-weight: 700;
}

.presentation1 .my-job {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.job-description {
  text-align: center;
  margin-top: 25px;
  color: rgb(188, 221, 240);
}

.presentation2 .job-description {
  text-align: center;
}

.job-description p {
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(23, 23, 24);
}

.knowledge {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em 1em;
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(23, 23, 24);
}

.knowledge li {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.knowledge h5 {
  color: #5d5be4;
}

.knowledge ul {
  padding-left: 0;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
  margin: 0;
  padding: 5px;
  display: flex;
}

.socialbtns {
  list-style: none outside none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.socialbtns .fa {
  width: 40px;
  height: 28px;
  color: #fff0ff;
  background-color: transparent;
}

.fa:hover {
  color: #000;
}

.recent-work {
  color: #5a58e4;
  border-bottom: 2px solid rgb(23, 23, 24);
  font-size: 25px;
}

.image-placeholder {
  background-color: #eee;
  display: flex;
  height: 350px;
  margin: 5px;
  width: 98%;
  margin-top: 50px;
}

.story-head h2 {
  margin: 35px 0;
}

.story-languages img {
  height: 25px;
  margin: 0 15px;
  margin-bottom: -2px;
}

.story-languages p {
  padding-left: 0;
  margin-top: 30px;
  padding-bottom: 15px;
}

.contact-us {
  margin-top: 20vh;
}

.contact-header {
  text-align: center;
  color: #5a58e4;
  font-size: 20px;
}

.contact-paragraph {
  text-align: center;
}

.text-field input {
  height: 40px;
  width: 100%;
  margin-top: 25px;
}

.text-field input:hover {
  text-decoration: underline #00d7c3;
}

.button {
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  background-color: #7e7dc5;
}

.button-1 {
  background-color: #7e7dc5;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 12px 25px;
}

.button-1:hover {
  border: 1px solid #00d7c3;
  text-decoration: underline #00d7c3;
}

textarea {
  width: 100%;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.contact-btn {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 70px;
  border-bottom: 2px solid rgb(23, 23, 24);
}

.email-here {
  text-align: center;
  font-size: 25px;
  margin-top: -35px;
}

.email-here :hover {
  text-decoration: underline #00d7c3;
}
